<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>BIGBAG Store - Ecommerce Bootstrap Template</title>

  <script
  src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="/bigbag/plugins/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
  <script src="/bigbag/plugins/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

  <!-- GOOGLE FONT -->
  <link href='https://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>

  <link href="/bigbag/plugins/jquery-ui/jquery-ui.css" rel="stylesheet">
  <link href="/bigbag/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/bigbag/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/bigbag/plugins/selectbox/select_option1.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/bigbag/plugins/rs-plugin/css/settings.css" media="screen">
  <link rel="stylesheet" type="text/css" href="/bigbag/plugins/owl-carousel/owl.carousel.css" media="screen">


  <link href="/bigbag/css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="/bigbag/css/colors/default.css" id="option_color">

  <title>Solidus</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
